
@media (max-width: 375px) {
    .descr {
        &_programm {
            font-size: 12px;
            span {
                font-size: 14px;
            }
        }
    }
    .programm {
        &__wrapper {
            grid-template-columns: 75px 50vw;
        }
    }
}

@media (min-width: 768px) {
    .programm {
        &__img {
            &__for-dot {
                width: 200px;
            }
        }
    }
}


@media (hover: none) {
    .main {
        background-attachment: scroll;
        height: 100svh;
    }
    .location {
        &__img {
            background-attachment: scroll;
        }
    }
    .restaurant {
        &__img {
            background-attachment: scroll;
        }
    }
}

@media (min-width:1440px) {
    .main {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)) 0% 0%, url('/img/bg_main_1440_2x.webp') no-repeat 50%/cover fixed;
    }
    .location {
        &__img {
            background: url('/img/tayni_rubleva_1440_2x.webp') no-repeat 50% / cover fixed;
        }
    }
    .restaurant {
        &__img {
            background: url('/img/turandot_1440_2x.webp') no-repeat 35%/cover fixed;
        }
    }
}